# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/

# Logs
*.log

# Environment files
.env*
key.json
src/lib/key.json

# TypeScript
*.tsbuildinfo
next-env.d.ts

# System files
.DS_Store

# IDE/editor
.vscode/
.idea/

.vercel
